html {
    background: url("c.jpg") no-repeat center center fixed;
    background-size: cover;
  }
.all {
  width: 960px;
  margin: 0 auto;
/*  height: 1800px;*/
}
/*.header, .content, .footer{
  margin: 0 auto;
}*/

}
pre{
  margin
}
ul.navbarL li{
  display: inline;
  float: left;
}
ul.navbarR li{
  display: inline;
  float: right;
}
li{
  margin-right: 30px;
}
img{
  text-align: center;
}
div.content{
  text-align: center;
}
div.info pre{
  display: inline;
}
li, div.footer pre, div.info pre{
  color: #FFFF00;
}
h1{
  color: #008B8B;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}
h3{
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 50px;
}
h5, h4{
  display: inline-block;
}
/*div.menu ul{
  display: inline;
}*/
.footer{
  width: 960px;
  margin-bottom: auto;
